body {
    background-color: white;
    text-align: left;
}

h1, h2 {
    color: black;
}

hr {
    border-color: gray;
}

li {
    list-style-type: none;
    float: left;
    border-right-color: gray;
    border-right-width: 1px;
    border-right-style: solid;
}

li a {
    display: block;
    color: white;
    padding: 20px;
    text-align: center;
    background-color: blue;
}

li a:hover{
    background-color: brown;
}

ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

a {
    color: brown;
}

.team {
    text-align: center;
    margin-bottom: 50px;
}

.team img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    display: block;
    margin: 0 auto 15px auto;
}

.quote {
    color: red;
    font-weight: bold;
    font-size: 24px;
    margin-top: 5px;
}

.speech img,
.calendar img {
    width: 1000px;
    height: auto;
    display: block;
    margin: 0 auto;
}

